.navcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s, height 0.3s;
  background-color: transparent;
}
.navcontainer.has-bg {
  background-color: #f0f0f0;
  height: 100px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.637);
  width: 85%;
  position: fixed;
  border-radius: 20px;
  height: 60px;
  z-index: 1000;
}
.navcontainer.shrunk .navbar {
  width: 60%;
  transition: width 0.3s ease;
}

.navbar .logo img {
  height: 40px;
}
h1,
i {
  color: black;
}
.navbar .menu {
  width: 80%;
  display: flex;
  justify-content: end;
  list-style-type: none;
}

.navbar .menu li {
  margin: 0 15px;
}

.navbar .menu li a {
  text-decoration: none;
  color: black;
}

.navbar .menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.menu {
  margin-top: 0;
  margin-bottom: 0 !important;
  position: relative;
}

.menu-btn {
  z-index: 1;
  height: 45px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.menu-btn i {
  transition: transform 0.3s ease;
}

.submenu {
  list-style-type: none;
  padding-left: 20px;
  display: none;
  margin-top: 0 !important;
}


.right {
  width: 500px !important;
  position: absolute;
  top: 187px;
  margin-left: 178px;
  text-align: justify !important;
}
.submenu a {
  text-decoration: none;
  color: #333;
}

.submenu a:hover {
  color: #007bff;
}

.wrapper .submenu {
  display: block;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background: #fff39a;
  transform: translatey(-100%);
  transition: transform 1s ease-in-out;
  border-radius: 0px 0px 250px 250px;
  padding-left: 100px;
  padding-right: 100px;
}

.wrapper.active {
  transform: translateX(0);
}

.wrapper ul {
  list-style-type: none;
  padding: 0;
  text-align: justify;
  margin-top: 150px;
  width: 10%;
}

.wrapper ul li {
  margin: 20px 0;
}

.wrapper ul li a {
  text-decoration: none;
  color: rgb(102, 107, 55);
  font-size: 24px;
  text-align: justify !important;
}
.wrapper ul li a:active,
.wrapper ul li a:hover,
.wrapper ul li a:focus {
  background-color: black;
  padding: 10px 20px;
  border-radius: 40px;
  color: #ffcc01;
}

.details {
  margin-top: 200px;
  width: 100%;
  height: fit-content;
  display: flex;
}
.cntct,
.socials {
  width: 100%;
  display: flex;
  justify-content: end;
}
.sociallist {
  width: 30%;
  display: flex;
  justify-content: space-around;
}
.sclbtn {
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 10px;
}
.num {
  display: flex;
}

.num a {
  color: rgb(102, 107, 55);
  text-decoration: none;
  font-size: 20px;
}
.mail {
  width: 100%;
  text-align: center;
}
.mail a {
  color: rgb(102, 107, 55);
  text-decoration: none;
  font-size: 30px;
}
/* Responsive Design: Show the menu toggle on smaller screens */
@media (max-width: 768px) {
  .navbar .menu {
    display: none;
  }

  .navbar .menu-toggle {
    display: block;
  }
}
