.border-img-curve {
  border-radius: 30px;
}
.gt-banner {
  margin-top: 100px;
}
.fullscreen {
  display: block;
  width: 100%;
  height: 85vh;
  object-fit: cover;
  object-position: top;
}

img {
  max-width: 100%;
  height: auto;
}
.feature-video-section {
  top: -60px;
  z-index: 5;
  overflow: visible;
}

.blog-section-3 {
  background: #ffd600;
  padding: 30px 0px 30px;
  color: #000;
}

.team-member-img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member-img:hover {
  transform: scale(1.05);
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.counter-section {
  padding: 120px 0px 110px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#eef2f5),
    to(white)
  );
  background-image: -o-linear-gradient(top, #eef2f5 0%, white 100%);
  background-image: linear-gradient(-180deg, #eef2f5 0%, white 100%);
}

.counter-boxed {
  padding-right: 90px;
  display: inline-block;
}
.counter-boxed:after {
  top: 40%;
  right: 45px;
  width: 2px;
  content: "";
  height: 100px;
  position: absolute;
  background-color: #d6e0e7;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.counter-boxed:nth-child(2) {
  padding-right: 0;
}
.counter-boxed:nth-child(2):after {
  display: none;
}

.counter-boxed .graph-outer {
  width: 200px;
  height: 200px;
  text-align: center;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: #ffffff;
}

.counter-boxed .graph-outer h3 {
  font-size: 18px;
  font-weight: 700;
  padding-top: 20px;
  text-transform: none;
}

.counter-boxed .count-box {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  font-size: 16px;
  color: #19274d;
  font-weight: 700;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.counter-boxed .count-box .count-text {
  position: relative;
  font-size: 60px;
  font-weight: 600;
  font-family: "poppins", sans-serif;
}

.counter-text-item {
  margin-top: 15px;
}
.counter-text-item h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.333;
  text-transform: uppercase;
}
.counter-text-item .counter-author .counter-author-img {
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-right: 30px;
}
.counter-text-item .counter-author .counter-author-text {
  margin-top: 35px;
}
.counter-text-item .counter-author .counter-author-text h3 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 5px;
}
.counter-text-item .counter-author .counter-author-text span {
  font-size: 16px;
  font-weight: 600;
  color: #ffaea1;
  font-family: "poppins", sans-serif;
}

.counter-section-2 {
  padding: 50px 0px;
  background-color: #eff3f6;
}
.counter-section-2 .section-title span {
  color: #00c3ff;
}
.counter-section-2 .counter-content {
  padding-top: 75px;
}
.counter-section-2 .counter-content .counter-boxed {
  display: inherit;
  text-align: center;
  padding-right: 0;
}
.counter-section-2 .counter-content .counter-boxed:after {
  right: -10px;
}
.counter-section-2 .counter-content .col-lg-3:last-child .counter-boxed:after {
  display: none;
}

  
.values {
  font-size: 60px;
  font-weight: 600;
  font-family: "poppins", sans-serif;
  margin-top: 9px;
}
article h5{
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
.td-faq-body-content {
    font-family: 'poppins', sans-serif;
    font-size: 14px;
}
.container {
    max-width: 1200px;
}