
  .bg-light2 {
    background-color: #fff;
    padding: 0px !important;
}

.font-bold2 h3{
    font-family: "Bebas Neue", sans-serif;
    font-style: italic;
    color: #454545;
    font-size: 65px;

}