.credits {
  width: 100%;
  height: 50vw;
  background: linear-gradient(90deg, #ffc107 40%, #ffc109 58%);
  color: Black;
  padding: 20px 0px;
}

.story {
  width: 100%;
  padding: 70px 100px;
  display: flex;
  justify-content: center;
}
.desc,
.founder {
  padding: 50px 50px;
  width: 100%;
}
.founder {
  text-align: end;
}
.desc span {
  font-size: 2.5vw;
}
.founderlink {
  color: black !important;
  text-decoration: none;
  text-align: justify;
  font-size: larger;
}
.divider{
  width: 80%;
  text-align: center;
  margin: auto;
}
.cmpnyname {
  width: 100%;
  text-align: center;
  margin-top: 75px;
}
.cmpnyname h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 20vw;
  color: rgb(255, 255, 255);
  font-style: italic;
  font-weight: bold;
  letter-spacing: 20px;
  margin-bottom: 0px !important;
}


