/* scrollup */

.scrollup {
  width: 55px;
  right: 20px;
  z-index: 5;
  height: 55px;
  bottom: 20px;
  display: none;
  position: fixed;
  border-radius: 100%;
  line-height: 55px;
  background-color: #ffcc01;
}
.scrollup i {
  color: #000;
}

/* slider */

.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 200px 0px;
  overflow: hidden;
  background-color: rgb(255, 184, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 184, 0, 1) 40%,
    rgba(255, 180, 0, 1) 58%
  );
}

.slides {
  display: flex;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.slider-image {
  flex: 1;
}

.slider-content {
  flex: 1;
  padding: 20px;
  text-align: left;
}
.carousel-btn {
  border-radius: 100px;
  background-color: #000;
  color: #fff;
  height: 60px;
  width: 200px;
}
.gt-head {
  width: 95%;
  font-size: 70px;
  color: #fff;
  /* text-transform: uppercase; */
  /* letter-spacing: 2px */
}
.spn {
  color: #fff;
}
.spn b {
  color: #000;
}

/* Another carousel */
.sec-carousel {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.carousel-container {
  position: relative;
  overflow: hidden;
}
.car1 {
  width: 40%;
}
.car2 {
  width: 60%;
}
.carousl .carousel-item img {
  border-radius: 20px;
  height: 400px;
  object-fit: cover;
}

.know-more-button {
  position: absolute;
  bottom: 180px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: 1;
}

.carousel-container:hover .know-more-button {
  opacity: 1;
  pointer-events: auto;
}
.know-more-button button {
  border-radius: 100px;
  background-color: #ffca00;
  color: #fff;
  height: 60px;
  width: 200px;
  border: none;
}

/* Abt-section */

.about-section-4 {
  padding-bottom: 0px;
  background-color: #ffca00;
}
.know-more-btn {
  border-radius: 100px;
  background-color: #000;
  color: #ffcc01;
  height: 60px;
  width: 200px;
}

.about-text-wrapper {
  padding-top: 90px;
  padding-bottom: 40px;
}
.ball img {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 3s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  -webkit-animation-iteration-count: infinite;
  animation-name: bounce;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

@-webkit-keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

.section-title h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.208;
  font-family: "poppins", sans-serif;
}

.title-border h2 {
  margin-bottom: 40px;
  font-weight: 600;
  position: relative;
  font-family: "poppins", sans-serif;
}

.title-border h2:after {
  left: 0;
  bottom: 25px;
  content: "";
  height: 2px;
  width: 90px;
  position: absolute;
  background-color: #ffcc01;
  display: none;
}
.about-text-details {
  margin-bottom: 30px;
}

.team-service-section {
  padding: 65px 0px 65px;
  background-color: #000;
}
.team-service-innerbox:hover {
  background-color: #ffca00;
  border-radius: 30px;
  transition: 0.5s ease;
}

/* servicetab */
.service-tab-section {
  padding: 60px 0px;
}
.td-faq-body-sub-content {
  font-family: "poppins", sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 43px;
}

.service-tab-wrapper .service-tab-area {
  margin-top: 50px;
}
.service-tab-btn .nav-item {
  padding: 10px;
}

.service-tab-btn .nav-item.active {
  border-bottom: 2px solid #ffca00;
}

.service-tab-btn .nav-item span {
  transition: color 0.3s;
}

/* blog */

.blog-section-1 {
  background-color: #ffcc01;
  padding: 50px 0px 50px;
}

.blog-section-1 .section-title {
  margin-bottom: 0px;
}

.blog-feed-wrap .blog-img-text .blog-text-wrap {
  z-index: 1;
  margin: 30px 0px;
  position: relative;
  padding: 48px 35px 48px 40px;
  border-radius: 25px;
  box-shadow: 9px 4px 9px #0000004d;
}

.blog-feed-wrap .blog-img-text .blog-text-wrap:after {
  right: 20px;
  z-index: -1;
  bottom: 20px;
  line-height: 1;
  content: "";
  font-size: 100px;
  position: absolute;
  font-family: Flaticon;
  display: none;
}
.blog-feed-wrap .blog-img-text .blog-text-wrap .blog-post-meta {
  color: #fff;
}
.blog-feed-wrap .blog-img-text .blog-text-wrap h3 {
  color: #fff;
}

.blog-content-wrap .col-lg-4:nth-child(1) .blog-feed-wrap .blog-text-wrap {
  background-color: #05297e;
}
.blog-content-wrap
  .col-lg-4:nth-child(1)
  .blog-feed-wrap
  .blog-text-wrap:after {
  color: #1e3f8b;
}
.blog-content-wrap .col-lg-4:nth-child(2) .blog-feed-wrap .blog-text-wrap {
  background-color: #121e2d;
}
.blog-content-wrap
  .col-lg-4:nth-child(2)
  .blog-feed-wrap
  .blog-text-wrap:after {
  color: #2a3542;
}
.blog-content-wrap .col-lg-4:nth-child(3) .blog-feed-wrap .blog-text-wrap {
  background-color: #543012;
}
.blog-content-wrap
  .col-lg-4:nth-child(3)
  .blog-feed-wrap
  .blog-text-wrap:after {
  color: #ffb6ab;
}

.blog-section-2 {
  padding: 30px 0px 30px;
}
.blog-section-2 .blog-content-area {
  padding-top: 75px;
}

.blog-img-text-innerbox .blog-feed-img {
  overflow: hidden;
  position: relative;
}
.blog-img-text-innerbox .blog-feed-img img {
  -webkit-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
.blog-img-text-innerbox .blog-feed-img:after {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  background-color: #ff4a17;
}
.blog-img-text-innerbox .blog-text-wrap {
  padding: 40px;
  border: 2px solid #eef2f5;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.blog-img-text-innerbox .blog-text-wrap .blog-post-meta a:before {
  color: #121e2d;
}
.blog-img-text-innerbox .blog-text-wrap .blog-post-meta a:nth-child(2) {
  color: #ff4a17;
}
.blog-img-text-innerbox .blog-text-wrap h3 {
  margin-bottom: 25px;
}
.blog-img-text-innerbox:hover .blog-feed-img:after {
  opacity: 0.8;
}
.blog-img-text-innerbox:hover .blog-feed-img img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.blog-img-text-innerbox:hover .blog-text-wrap {
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(102, 102, 102, 0.04);
  box-shadow: 0px 8px 16px 0px rgba(102, 102, 102, 0.04);
}

.blog-section-3 {
  padding: 115px 0px 120px;
}
.blog-section-3 .section-title span {
  color: #00c3ff;
}
.blog-section-3 .blog-content-area {
  padding-top: 75px;
}
.blog-section-3
  .blog-img-text-innerbox
  .blog-text-wrap
  .blog-post-meta
  a:nth-child(2) {
  color: #00c3ff;
}
.blog-section-3 .blog-img-text-innerbox .taeled-btn {
  background-color: #eef2f5;
}
.blog-section-3 .blog-img-text-innerbox .taeled-btn i {
  color: #121e2d;
  background-color: #fff;
}

.blog_feed_section {
  padding: 120px 0px 120px;
  background-color: #f9f9f9;
}

.img-border img {
  border-radius: 25px;
  box-shadow: 9px 4px 9px #0000004d;
}

img {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}

.blog-cnt {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.417;
  color: #fff;
  text-decoration: none;
}

.blog-mini-title {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  padding-right: 25px;
  font-family: "Bebas Neue", sans-serif;
}

/* Main-service */

.service-4 {
  padding-bottom: 80px;
  background-color: #ffca00;
}
.taeled-btn {
  z-index: 1;
  height: 47px;
  width: 150px;
  font-weight: 600;
  line-height: 46px;
  padding-right: 0px;
  border-radius: 35px;
  position: relative;
  font-family: "poppins", sans-serif;
  background-color: #000000;
  color: #fff;
}
.taeled-btn a {
  text-decoration: none;
}
.taeled-btn a,
.taeled-btn button {
  width: 100%;
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.taeled-btn3 {
  z-index: 1;
  height: 47px;
  width: 150px;
  left: 165px;
  top: -47px;
  font-weight: 600;
  line-height: 46px;
  padding-right: 0px;
  border-radius: 35px;
  position: relative;
  font-family: "poppins", sans-serif;
  background-color: #ffffff;
  color: #000000;
}
.taeled-btn3 a {
  text-decoration: none;
  color: #000;
}
.font-bold h3 {
  font-family: "Bebas Neue", sans-serif;
  font-style: italic;
  color: #fff;
  font-size: 65px;
}
.zoom-in-out-box {
  animation: zoom-in-zoom-out 3s ease infinite;
}
/* Keyframes for the zoom in zoom out animation */
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.about-content-wrapper-4 .about-text-wrapper {
  padding-top: 90px;
  padding-bottom: 40px;
}
.about-content-wrapper-4 .about-text-wrapper .about-text-details {
  padding-bottom: 30px;
  font-family: "poppins", sans-serif;
  font-size: 16px;
}

.about-text-details ul li {
  font-size: larger;
  font-weight: 350;
}

/* Team-service */

.bg-light1 {
  background-color: #fff;
  padding: 85px 0px;
}

/* Testimonial */
/* Testimonial Section 1 */
.testimonial-section-1 {
  padding: 150px 0;
  background-color: #ffcc01;
}

/* Author Navigation */
.tst-author-nav {
  width: 100%;
  cursor: pointer;
  margin: 15px 0;
  display: inline-block;
}

.tst-author-nav .tst-author-img {
  width: 70px;
  height: 70px;
  overflow: hidden;
  margin-right: 30px;
}

.tst-author-nav .tst-author-text {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}

.tst-author-nav .tst-author-text h3 {
  font-size: 24px;
  font-weight: 600;
  transition: 0.3s all ease-in-out;
}

.tst-author-nav .tst-author-text h3 .tst-degi {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

/* Testimonial Slider Navigation */
.testimonial-slider-nav {
  max-height: 470px;
  overflow: visible;
}

.testimonial-slider-nav:before,
.testimonial-slider-nav:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 2;
  background: linear-gradient(-180deg, #eef2f5 0%, rgba(238, 242, 245, 0) 100%);
  display: none;
}

.testimonial-slider-nav:after {
  top: auto;
  bottom: 0;
  background: linear-gradient(180deg, rgba(238, 242, 245, 0) 0%, #eef2f5 100%);
}

.testimonial-slider-nav .slick-current.slick-center .tst-author-text h3 {
  color: #000;
}

.testimonial-slider-nav .slick-vertical .slick-slide {
  outline: none;
  padding: 100px 110px;
}

/* Testimonial Main Slider */
.testimonial-slider-for {
  padding-top: 70px;
  padding-left: 155px;
}

.testimonial-slider-for .testimonial-main-img {
  top: -110px;
  z-index: 2;
  left: -50px;
}

/* Testimonial Text Inner */
.testimonial-slider-textinner {
  padding: 60px 30px 60px 90px;
}

.testimonial-slider-textinner:before {
  top: 20px;
  right: 30px;
  z-index: -1;
  line-height: 1;
  color: #f0f0f0;
  font-size: 170px;
  content: "";
  position: absolute;
  font-family: Flaticon;
  display: none;
}

.testimonial-slider-textinner .testimonial-main-text {
  max-width: 305px;
}

.testimonial-slider-textinner .testimonial-main-text .tst-icon {
  line-height: 1;
  padding-bottom: 5px;
}

.testimonial-slider-textinner .testimonial-main-text .tst-icon i {
  font-size: 60px;
  color: #ffaea1;
}

.testimonial-slider-textinner .testimonial-main-text .tst-details-quot {
  font-size: 127px;
  font-weight: 600;
  line-height: 128px;
  font-family: "Bebas Neue", sans-serif;
  color: #454545;
}

.testimonial-slider-textinner .testimonial-main-text .testimonial-name-degi h4 {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 5px;
}

.testimonial-slider-textinner
  .testimonial-main-text
  .testimonial-name-degi
  span {
  font-size: 14px;
  font-weight: 600;
  color: #ffaea1;
  font-family: "Poppins", sans-serif;
}

/* Testimonial Section 2 */
.testimonial-section-2 {
  padding: 60px 0;
  background-color: #ffcc01;
}

.testimonial-section-2 .section-title {
  margin: 0 auto;
  max-width: 410px;
}

.testimonial-section-2 .testimonial-content-wrapper-2 {
  padding-top: 0;
}

.testimonial-section-2 .carousel-indicators {
  margin: 0;
  display: inherit;
  position: static;
}

.testimonial-section-2 .testimonial-slider-btn2 {
  top: 50%;
  opacity: 1;
  width: 60px;
  height: 60px;
  font-size: 14px;
  font-weight: 700;
  color: #121e2d;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  text-transform: uppercase;
  transform: translateY(-50%);
}

.testimonial-section-2 .testimonial-slider-btn2:hover,
.testimonial-section-2 .testimonial-slider-btn2:active,
.testimonial-section-2 .testimonial-slider-btn2:focus {
  color: #fff;
  background-color: #000;
}

/* Carousel Indicators */
.testimonial-section-2 .testimonial-carousel-indicator .carousel-indicators li {
  margin: 0;
  width: 70px;
  height: 70px;
  text-indent: 0;
  position: absolute;
  border-radius: 50%;
  animation: floating 0.5s linear infinite;
  transition: all 0.5s ease;
}

.testimonial-section-2
  .testimonial-carousel-indicator
  .carousel-indicators
  li:nth-child(1) {
  top: -220px;
  left: -180px;
  animation-duration: 7s;
  transition-delay: 0.7s;
}

.testimonial-section-2
  .testimonial-carousel-indicator
  .carousel-indicators
  li:nth-child(2) {
  top: -220px;
  right: -180px;
  animation-duration: 5s;
  transition-delay: 0.1s;
}

.testimonial-section-2
  .testimonial-carousel-indicator
  .carousel-indicators
  li:nth-child(3) {
  bottom: -60px;
  left: -180px;
  animation-duration: 8s;
  transition-delay: 0.3s;
}

.testimonial-section-2
  .testimonial-carousel-indicator
  .carousel-indicators
  li:nth-child(4) {
  bottom: -60px;
  right: -180px;
  animation-duration: 8s;
  transition-delay: 0.4s;
}

.testimonial-section-2
  .testimonial-carousel-indicator
  .carousel-indicators
  li.active {
  transform: scale(1.2);
  border: 5px solid #fff;
}

/* Testimonial Inner Wrap */
.testimonial-inner-wrap {
  z-index: 1;
  padding: 60px;
  margin: 0 auto;
  max-width: 970px;
}

.testimonial-inner-wrap:before {
  left: 0;
  right: 0;
  z-index: -1;
  width: 95%;
  content: "";
  bottom: -20px;
  height: 20px;
  margin: 0 auto;
  position: absolute;
  background-color: #f3f6f8;
}

.testimonial-inner-wrap:after {
  right: 40px;
  z-index: -1;
  bottom: 40px;
  line-height: 1;
  color: #313131;
  font-size: 40px;
  content: "";
  position: absolute;
  font-family: Flaticon;
}

.testimonial-inner-wrap .testimonial-img {
  width: 200px;
  height: 200px;
  margin-right: 50px;
  border: 5px solid #fff;
  box-shadow: 0 8px 16px rgba(102, 102, 102, 0.04);
}

.testimonial-inner-wrap .testimonial-text {
  font-family: "Poppins", sans-serif;
}

.testimonial-inner-wrap .testimonial-text span {
  display: block;
  font-size: 20px;
  font-weight: 400;
  max-width: 550px;
  line-height: 1.333;
  margin-bottom: 30px;
}

.testimonial-inner-wrap .testimonial-text .testimonial-author h3 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 5px;
}

.testimonial-inner-wrap .testimonial-text .testimonial-author p {
  font-weight: 600;
  color: #454545;
}

/* Testimonial Section 3 */
.testimonial-section-3 {
  padding: 115px 0 130px;
  background-color: #eff3f6;
}

.testimonial-section-3 .section-title span {
  color: #00c3ff;
}

.testimonial-section-3 .container {
  max-width: 1310px;
}

.testimonial-section-3 .testimonial-content-wrapper-3 {
  padding-top: 75px;
}

/* Inner Wrapper */
.testimonial-inner-wrapper {
  z-index: 1;
  background-color: #fff;
  padding: 55px 50px;
  transition: 0.3s all ease-in-out;
}

.testimonial-inner-wrapper:after {
  right: 0;
  top: 0;
  height: 0;
  z-index: -2;
  width: 105%;
  content: "";
  left: 0;
  position: absolute;
  transition: 0.3s all ease-in-out;
}

.testimonial-inner-wrapper:before {
  top: 30px;
  right: 30px;
  z-index: -1;
  color: #f0f0f0;
  line-height: 1;
  content: "";
  font-size: 180px;
  position: absolute;
  font-family: Flaticon;
  transition: 0.3s all ease-in-out;
  display: none;
}

.testimonial-inner-wrapper .testimonial-inner-content {
  z-index: 1;
}

.testimonial-inner-wrapper .testimonial-icon i {
  line-height: 1.2;
  font-size: 60px;
  display: inline-block;
  background: linear-gradient(90deg, #0160e7 0%, #04bdef 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s all ease-in-out;
}

.testimonial-inner-wrapper .testimonial-inner-text span {
  font-family: "Poppins", sans-serif;
  transition: 0.3s all ease-in-out;
}

.testimonial-inner-wrapper .testimonial-inner-text .testi-qoute {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.417;
}

.testimonial-inner-wrapper .testimonial-inner-text .testimonial-name-degi {
  margin-top: 0;
}

.testimonial-inner-wrapper .testimonial-inner-text .testimonial-name-degi h3 {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 3px;
}

.testimonial-inner-wrapper .testimonial-inner-text .testimonial-name-degi span {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.testimonial-inner-wrapper:hover {
  transform: translateY(15px);
}

.testimonial-inner-wrapper:hover:after {
  height: 100%;
}

.testimonial-inner-wrapper:hover:before {
  color: rgba(255, 255, 255, 0.13);
}

.testimonial-inner-wrapper:hover span,
.testimonial-inner-wrapper:hover h3,
.testimonial-inner-wrapper:hover .testimonial-name-degi span {
  color: #fff;
}

.testimonial-inner-wrapper:hover .testimonial-icon i {
  color: #fff;
  -webkit-text-fill-color: inherit;
}

.testimonial-inner-wrap {
  display: flex;
  align-items: center;
}

.testimonial-img {
  margin-right: 20px;
}

.testimonial-text {
  flex: 1;
}

.testimonial-text span {
  display: block;
  margin-bottom: 10px;
}

.testimonial-slider-btn2 {
  text-decoration: none;
}

/* lets-work */

.padding-tb-140 {
  padding: 300px 0px 300px;
}

@media only screen and (min-width: 768px) {
  .font-large b {
    font-weight: 500;
    font-size: 200px;
    font-family: "Bebas Neue";
    font-style: italic;
    letter-spacing: 1px;
  }
}

.mail-id a {
  text-decoration: none;
  color: #000;
  font-family: initial;
}
