.storytitle {
  width: 100%;
  padding-left: 1%;
}
.storytitle h1 {
  font-size: 130px;
  text-transform: uppercase;
}
.storyimg {
  height: 85vh;
  width: 100%;
  background: url(../../Assets/logoBg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.storyimg img {
  object-fit: contain;
}
.firstblurcnt {
  width: 100%;
  height: 19%;
  display: flex;
  justify-content: end;
}
.firstblur {
  width: 40%;
  height: 100%;
  border-radius: 0 0 0 100px;
  backdrop-filter: blur(5px);
}
.secondblur {
  width: 60%;
  height: 51%;
  border-radius: 0 100px 0 0;
  backdrop-filter: blur(5px);
}
/* -------------------------------------Service-tab--------------------------------------------------------- */
.story-tab {
  border: 1px solid black;
  width: 100%;
}

.storycontainer {
  width: 80%;
  border: 1px solid black;
  height: 700px;
  margin: auto;
  overflow: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
