.taeled-bredcrumb-section {
  z-index: 1;
  background-image: url(../../Assets/banner1.png);
  background-repeat: no-repeat;
}
.taeled-bredcrumb-section .bredcrumb-content {
  padding: 220px 0px 200px;
}
.taeled-bredcrumb-section .background_overlay {
  z-index: -1;
  opacity: 0.902;
  /* background-color: #000; */
}
.taeled-bredcrumb-section .bredcrumb-title h2 {
  color: #000;
  font-size: 50px;
  font-weight: 400;
}
.taeled-bredcrumb-section .breadcrumb-item-wrap .breadcrumb {
  bottom: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  border-radius: 0;
  padding: 0px 45px;
  position: absolute;
  display: inline-block;
  background-color: #fff;
}
.taeled-bredcrumb-section .breadcrumb-item-wrap .breadcrumb .breadcrumb-item {
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
.taeled-bredcrumb-section
  .breadcrumb-item-wrap
  .breadcrumb
  .breadcrumb-item.active {
  color: #ff4a17;
}
.taeled-bredcrumb-section
  .breadcrumb-item-wrap
  .breadcrumb-item
  + .breadcrumb-item {
  position: relative;
  padding-left: 20px;
}
.taeled-bredcrumb-section
  .breadcrumb-item-wrap
  .breadcrumb-item
  + .breadcrumb-item::before {
  top: 18px;
  left: 7px;
  padding: 0;
  width: 2px;
  content: "";
  height: 18px;
  position: absolute;
  background-color: #121e2d;
}
.taeled-bredcrumb-section .slider-deco2 {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
.bredcrumb-title {
  font-family: "Bebas Neue", sans-serif;
}

/* Service */

.service-tab-section {
  padding: 60px 0px;
}

.service-tab-wrapper {
  max-width: 520px;
  padding-top: 45px;
}
.service-tab-wrapper .section-title span {
  color: #ff4a17;
}
.service-tab-wrapper .service-tab-area {
  margin-top: 45px;
}
.service-tab-wrapper .nav-tabs .nav-item.show .nav-link,
.service-tab-wrapper .nav-tabs .nav-link.active,
.service-tab-wrapper .nav-tabs .nav-link,
.service-tab-wrapper .nav-tabs {
  border: none;
}
.service-tab-wrapper .nav-tabs .nav-link {
  border-radius: 0;
}
.service-tab-wrapper .nav-link {
  padding: 0;
}
.service-tab-wrapper .service-tab-btn {
  margin-bottom: 25px;
}
.service-tab-wrapper .service-tab-btn li {
  margin-right: 10px;
}
.service-tab-wrapper .service-tab-btn li a {
  width: 150px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  position: relative;
  padding-bottom: 15px;
  font-family: "poppins", sans-serif;
}
.service-tab-wrapper .service-tab-btn li a:before,
.service-tab-wrapper .service-tab-btn li a:after {
  left: 0;
  bottom: 0;
  width: 100%;
  content: "";
  height: 3px;
  position: absolute;
  background-color: #eceef6;
}
.service-tab-wrapper .service-tab-btn li a:after {
  width: 0;
  left: auto;
  right: 0;
  background-color: #ffcc01;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.service-tab-wrapper .service-tab-btn li a.active:after {
  left: 0;
  width: 100%;
  right: auto;
}

.service-pricing .pricing-plan-tab-btn li a:before {
  background-color: #fff;
  border: 2px solid #fff;
}


.td-faq-body-content u{
    color: #000;
}

.about-text-details{
    width: 600px;
}
.section-title{
    margin-bottom: 20px;
}